/* dropdown options */
.results img {
	height: 50px;
	margin-right: 1em;
}

.dropdown-item {
	display: flex;
	align-items: center;
}

/* render movie */
.media {
	max-height: 256px;
	overflow-y: hidden;
}

.media-left img {
	height: 250px;
}

.awards {
	height: 140px;
	overflow-y: hidden;
}
