/* dropdown options */
.results img {
	height: 50px;
	margin-right: 1em;
}

.dropdown-item {
	display: flex;
	align-items: center;
}

/* render movie */
.media-left img {
	height: 250px;
}

.awards {
	min-height: 140px;
}
